*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 45px;
  padding-top: 45px;
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(var(--theme-color), #A0BCD8);
  }
    
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #ededed;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  }
}

body {
  font-size: 14px;
  min-width: 1270px;
  margin: 0 auto;
  overflow: auto;
  background: var(--bg-color);
}

ul,
ol {
  list-style: none;
}

input {
  outline: none;
}

a,
a:focus,
a:hover {
  color: inherit;
  outline: none;
  text-decoration: none;
}

.bx-width {
  width: 1250px;
  margin: 0 auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear-float {
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}

.none-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}