$theme-color: #409eff;

//超出一行文本省略
@mixin overflow() {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}
  
//多行超出文本省略
@mixin overflow-more($num) {
    display:-webkit-box; 
    -webkit-box-orient:vertical;
    -webkit-line-clamp:$num;
    display: -moz-box; 
    -moz-line-clamp: $num !important;
    -moz-box-orient: vertical;
    overflow: hidden;
}

@mixin center {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}

@mixin fixCen {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin hvCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin vCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin spaceBetween {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@mixin spaceBc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flexItem {
    display: flex;
    align-items: center;
}
 