:root {
    --theme-color: #409eff;
    --font-text: #130c0e;
    --white-black: #fff;
    --bg-color: #f2f2f2;
    --nav-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

html.dark {
    --font-text: #ccc;
    --white-black: #000;
    --bg-color: #262727;
    --nav-box-shadow: 0 3px 3px rgba(255, 255, 255, 0.8);
}
